.news__section-list {
    .news__section-item {
        .news__section-img {
            height: 300px !important;
            img {
                height: 280px !important;
                width: 100%;
                object-fit: cover;
            }
        }
        h4 {
            font-size: 20px !important;
            height: 52px !important;
            text-transform: uppercase;
        }
    }
    .list_item_top {
        li {
            border-bottom: 1px solid #ddd;
            a {
                display: block;
                padding: 8px 0;
                font-size: 15px;
                color: #866a11;
            }
            span {
                font-size: 13px;
                color: #63635c;
                padding-bottom: 4px;
                display: block;
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }
}
