@import "responsive.scss";
@import "reset.css";
@font-face {
    src: url(../fonts/Font_Helvetica/Helvetica-Bold.ttf);
    font-family: "Helvetica-bold";
}
@font-face {
    src: url(../fonts/Font_Helvetica/Helvetica.ttf);
    font-family: "Helvetica";
}
$green-color: #139e00;
$black-color: #000000;
$white-color: #ffffff;
$grey: #333;
$background: linear-gradient(to right, #1a9d48 0%, #ffc614 100%);
@mixin text-align {
    align-self: center;
    text-align: center;
}
@mixin transition {
    transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
@mixin li_hover {
    background: $background;
    @include transition;
    color: $white-color;
}
@mixin img-fullwidth {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
@mixin title-heading {
    color: $white-color;
    text-transform: uppercase;
    font-size: 16px;
    padding: 17px 15px;
    font-weight: 700;
    margin-bottom: 0px;
}
.title-heading-h1 {
    color: $grey;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0 20px 0;
    font-weight: 700;
    margin-bottom: 0px;
}
@mixin box-shadow {
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    background: #f0f0f0 !important;
    font-family: Helvetica !important;
}
.title-heading {
    @include title-heading;
    background-color: $green-color;
}
.container {
   // max-width: 1230px !important;
    //width: 100%;
}
#header {
    .header__top {
        background: $black-color;
        height: 50px;
        font-size: 12px;
        letter-spacing: 1px;
        &-logo {
            a {
                img {
                    width: 85px;
                    height: 50px;
                    padding: 5px 0;
                }
            }
        }
        &-search {
            padding: 7px 0 7px 10px;
            &-form {
                width: 100%;
                position: relative;
                input:first-child {
                    width: 100%;
                    height: 36px;
                    line-height: 20px;
                    padding: 6px 32px 6px 10px;
                    margin: 0;
                    outline: none;
                    border-radius: 5px;
                    font-size: 14px;
                    border: none;
                }
                button {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    outline: none;
                    right: 2px;
                    top: 3px;
                    background: #fff;
                    cursor: pointer;
                    border: none;
                }
            }
        }
        &-nav {
            .header__list-store {
                a {
                    color: $white-color;
                }
            }
            .header__cart {
                a {
                    color: #fff;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 28px;
                }
            }
            .header__about {
                border: 1px solid #1a9d48;
                border-radius: 3px;
                @include text-align;
                padding: 8px 9px;
                a {
                    color: $white-color;
                }
            }
        }
        &-menu {
            .hotline {
                a {
                    color: $white-color;
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                }
                span {
                    color: $white-color;
                }
            }
            .news {
                position: relative;
                a {
                    font-weight: bold;
                    font-size: 16px;
                    color: $white-color;
                }
                i,
                span {
                    color: $white-color;
                }
                &__items {
                    display: none;
                }
                &:hover > .news__items {
                    display: block;
                    position: absolute;
                    left: 0;
                    height: auto;
                    width: 100%;
                    top: 100%;
                    background: #fff;
                    z-index: 1;
                    a {
                        color: $black-color;
                        font-size: 12px;
                        display: block;
                        padding: 10px;
                        &:hover {
                            @include transition;
                            color: #fff;
                            background: linear-gradient(to right, #1a9d48 0%, #ffc614 100%);
                        }
                    }
                }
            }
        }
    }
    .header__main {
        background: $background;
        height: 42px;
        .menu-item-has-children {
            position: relative;
            a {
                font-size: 14px;
                display: block;
                padding: 0 12px;
                line-height: 42px;
                color: #fff;
                display: flex;
                align-items: center;
                height: 42px;
                img {
                    max-height: 24px;
                    width: auto;
                    padding-right: 0;
                }
                span {
                    padding-left: 5px;
                }
            }
            &:hover {
                @include transition;
                background: $white-color;
                a {
                    color: $grey;
                }
            }
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                z-index: 99;
                @include transition;
                top: 100%;
                left: 0;
                min-width: 260px;
                background: #f5f5f5;
                .menu-item:hover > a {
                    @include li_hover;
                }
            }
            &:hover > .sub-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.section-1 {
    margin-bottom: 10px;
    padding: 15px 0;
    .home-slider {
        &:hover .owl-next {
            opacity: 1 !important;
            visibility: visible !important;
            @include transition;
        }
        &:hover .owl-prev {
            opacity: 1 !important;
            visibility: visible !important;
            @include transition;
        }
        //Slider-Home
        #sync1 {
            .item {
                color: #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
        }

        #sync2 {
            .item {
                display: table;
                width: 98%;
                vertical-align: middle;
                position: relative;
                background: #fff;
                color: #666;
                text-align: center;
                cursor: pointer;
                height: 55px;
                font-size: 12px;
                padding: 0 1%;
                line-height: 1.5;
                .item-info {
                    span {
                        font-size: 12px;
                        display: table-cell;
                        vertical-align: middle;
                        height: 55px;
                        text-align: center;
                        position: relative;
                        cursor: pointer;
                        color: $grey;
                        line-height: 1.5;
                    }
                }
            }
            .current .item {
                .item-info {
                    .item-info-text {
                        color: $black-color;
                        font-weight: 600;
                    }
                }
            }
        }
        //arrows on first carousel
        #sync1.owl-theme {
            position: relative;
            .owl-next,
            .owl-prev {
                margin-top: -20px;
                position: absolute;
                top: 50%;
                width: 50px;
                height: 50px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 5px !important;
                box-shadow: none;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s;
                color: #fff;
            }
            .owl-prev {
                left: 10px;
            }
            .owl-next {
                right: 10px;
            }
        }
    }
    .menu_home_mb {
        ul {
            height: 97px;
            overflow: hidden;
            text-align: center;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            li {
                width: 20%;
                padding: 0 3px;
                list-style: none;
                .responsive {
                    height: 58px;
                    width: 58px;
                    margin: 0 auto;
                    position: relative;
                    border: 1px solid #ddd;
                    border-radius: 50%;

                    img {
                        height: 32px;
                        padding-right: 0;
                        width: auto;
                        margin: 0 auto;
                    }
                    span {
                        font-size: 10px;
                        padding-left: 0;
                        margin-top: 5px;
                        display: block;
                        line-height: 1.2;
                        color: $black-color;
                    }
                }
            }
        }
    }
}

.home-slider {
    .item {
        img {
            height: 300px;
            @include img-fullwidth;
        }
    }
    button:focus{
        outline: none;
    }
}
.owl-theme .owl-nav {
    margin-top: 0 !important;
}
//newspost
.news__post {
    &-title {
        border-bottom: 1px solid #efefef;
        background: $white-color;
        overflow: hidden;
        display: block;
        h2 {
            padding: 10px 20px 10px 10px;
            float: left;
            background: $background;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-weight: 600;
            margin: 0;
            a {
                color: $white-color;
                display: block;
                line-height: 1.3;
            }
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-right: 12px solid #fff;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
    &-item {
        li {
            padding: 15px 9px;
            border-bottom: 1px solid #ededed;
            background: #fff;
            a {
                display: block;
                img {
                    float: left;
                    width: 100px;
                    height: 74px;
                    object-fit: cover;
                    margin-right: 10px;
                }
                h4 {
                    font-size: 14px;
                    margin-bottom: 5px;
                    line-height: 1.3;
                    color: $grey;
                    &:hover {
                        color: $black-color;
                    }
                }
                span {
                    font-size: 12px;
                    color: #999;
                }
            }
        }
    }
}
//section 2
.title-heading-cus{
    background: $background;
}
.section-2 {
    .collection__home {
        .title-heading {
            @include title-heading;
            margin-bottom: 0px;
        }
        
        .list__category {
            position: relative;

            li {
                line-height: 55px;
                border-bottom: solid 1px #363636;
                background-color: #2a2a2a;
                padding: 0 6px;
                position: relative;
                a {
                    padding: 0;
                    color: #c7c7c7;
                    display: block;
                    text-transform: uppercase;
                    font-size: 14px;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 18px;
                    }
                }
                i {
                    position: absolute;
                    right: 5px;
                    top: 18px;
                    color: #c7c7c7;
                }
                .list__category-2 {
                    display: none;
                    position: absolute;
                    left: 100%;
                    width: 250px;
                    background: #2a2a2a;
                    top: 0;
                    z-index: 99;
                    &-item {
                        border-left: solid 1px #363636;
                        a {
                            font-size: 14px;
                            text-transform: initial;
                        }
                        &:hover {
                            background: #474747;
                        }
                    }
                }
                &:hover > .list__category-2 {
                    display: block;
                }
                &:hover {
                    background: #474747;
                }
            }
        }
        .list__category {
            li:nth-of-type(1) {
                .title-link:before {
                    content: "";
                    display: inline-block;
                    width: 54px;
                    height: 54px;
                    vertical-align: middle;
                    margin-right: 6px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    opacity: 0.5;
                    background-image: url(../img/icon1-min.png);
                }
            }
            li:nth-of-type(2),
            li:nth-of-type(3),
            li:nth-of-type(4),
            li:nth-of-type(5) {
                .title-link:before {
                    content: "";
                    display: inline-block;
                    width: 54px;
                    height: 54px;
                    vertical-align: middle;
                    margin-right: 6px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    opacity: 0.5;
                    background-image: url(../img/icon2-min.png);
                }
            }
        }
        h1 {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: Arial;
            &::after {
                content: "";
                display: block;
                background: #139e00 left center no-repeat;
                width: 100px;
                height: 4px;
                margin: 20px 0 30px;
            }
        }
    }
    //Sort-bar
    .category__product {
        &-sort-bar {
            background: #ebebeb;
            padding: 10px;
            margin-bottom: 30px;
            .view-mode {
                height: 40px;
                padding-left: 10px;
                button {
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                i {
                    color: $grey;
                }
                .grid-mode,
                .list-mode {
                    .btn.active i {
                        color: $green-color;
                    }
                }
            }
            .form-view-pro {
                select {
                    border: 1px solid #e1e1e1;
                    padding: 0 20px;
                    height: 40px;
                    border-radius: 0px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-position: right center;
                    background-image: url(../img/product-img/ico-select.png);
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-color: #fff !important;
                    padding-right: 28px;
                    text-indent: 0.01px;
                    text-overflow: "";
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                    option {
                        font-size: 14px;
                    }
                }
            }
        }
        &-grid {
            .category__product-item {
                margin-bottom: 30px;
                background: #fff;
                position: relative;

                .product-item {
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;

                    a {
                        display: block;
                        img {
                            width: 100%;
                            height: auto;
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                        }
                    }
                    .product-price {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-bottom: 0;
                        font-weight: 700;
                        color: #fff;
                        background-color: #139e00;
                        padding: 5px 20px;
                        min-width: 128px;
                        &::before {
                            content: "";
                            position: absolute;
                            left: -15px;
                            top: -1px;
                            width: 0;
                            height: 0;
                            border-top: 32px solid transparent;
                            border-bottom: 0 solid transparent;
                            border-right: 16px solid $green-color;
                        }
                        a {
                            color: $white-color;
                            font-size: 14px;
                            font-weight: lighter;
                        }
                    }
                }
                .product-des {
                    .product-info {
                        .product-name {
                            font-size: 16px;
                            padding: 7px 0 0 5px;

                            a {
                                color: #555555;
                                font-weight: 600;
                            }
                        }
                    }
                    .product-descript {
                        font-size: 13px;
                        color: $grey;
                        padding-left: 5px;
                    }
                }

                .product-view {
                    padding: 5px;

                    button {
                        color: #636363;
                        padding: 8px 15px;
                        margin-right: 5px;
                        &:hover {
                            background: $green-color;
                            color: $white-color;
                        }
                    }

                    button:nth-of-type(2) {
                        color: #636363;
                        padding: 8px 25px;
                        &:hover {
                            color: $white-color;
                        }
                    }
                }
            }
        }
        .category__product-grid.category__product-list {
            animation: fadeEffect 1s;
            .category__product-item {
                position: relative;
                text-align: center;
                margin-bottom: 0;
                display: -webkit-flex;

                display: -ms-flexbox;
                display: flex;

                .product-item {
                    width: 30%;
                }

                .product-des {
                    width: 70%;
                    margin-left: 40px;
                    .product-view {
                        justify-content: unset !important;
                    }
                }
            }
        }
    }
}
.featured__news {
    &-list {
        .featured__news-item {
            margin: 10px 0;
            .img-news {
                img {
                    width: 100%;
                }
            }
            .title-news {
                padding-left: 0px;

                h4 {
                    font-size: 14px;
                    a {
                        color: $grey;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
//List Product Home

.product__home {
    background: $white-color;
    &-title {
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        height: 44px;
        position: relative;
        padding-right: 100px;

        h3 {
            padding: 12px 20px 12px 10px;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            float: left;
        }
        .view-all {
            color: $grey;
            padding: 12px 0;
            padding-left: 20px;
            line-height: 20px;
            padding-right: 10px;
            background: #fff;
            position: absolute;
            font-size: 14px;
            top: 0;
            right: 0;
            text-decoration: underline !important;
            &:hover {
                color: unset;
            }
        }
        .child {
            li {
                a {
                    display: block;
                    padding: 12px 10px;
                    line-height: 20px;
                    color: $grey;
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
    }

    .owl-carousel .owl-nav.disabled {
        display: block;
    }
    .owl-carousel .owl-nav {
        button {
            border-radius: 5px;
            -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        }
        .owl-prev {
            outline: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            padding: 0 0 10px;
            margin: 0;
            width: 34px;
            height: 70px;
            text-align: center;
            font-size: 46px;
            color: #999;
            font-family: -webkit-body;
        }
        .owl-next {
            outline: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: #fff;
            padding: 0 0 10px;
            margin: 0;
            width: 34px;
            height: 70px;
            text-align: center;
            font-size: 46px;
            color: #999;
            font-family: -webkit-body;
        }
    }
}

.home__project {
    .owl-carousel .owl-nav.disabled {
        display: none !important;
    }
}

.news__section-list {
    .news__section-item {
        a {
            display: block;
            position: relative;
            .news__section-img {
                padding: 10px;
                height: 180px;
                overflow: hidden;
                img {
                    height: 160px;
                    @include transition;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            h4 {
                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 0;
                color: #56422e;
                font-weight: 600;
                line-height: 1.3;
                height: 38px;
                overflow: hidden;
            }
            .is_divider {
                width: 50px;
                height: 1px;
                background: $background;
                margin: 7px 0 3px;
            }
            .news__section-content {
                height: 63px;
                overflow: hidden;
                color: #333;
                font-size: 14px;
            }
            .news__section-timer {
                position: absolute;
                top: 7%;
                left: 10px;
                background: #fff;
                width: 40px;
                height: 44px;
                text-align: center;
                color: $grey;
                .day {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    display: block;
                }
                .month {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    display: block;
                }
            }
        }
        &:hover .news__section-timer {
            color: $white-color;
            background: $background;
        }
    }
}

//section support

.partner__support {
    &-list {
        .partner__support-item {
            width: 20%;
            height: 90px;
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            margin-left: -1px;
            justify-content: center;
            span {
                display: flex;
                align-items: center;
                margin: 0 auto;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                img {
                    margin-right: 12px;
                }
            }
        }
        .partner__large {
            width: 40%;
            span {
                display: block;
                margin: 0;
                font-size: 14px;
                text-transform: unset;
                p {
                    margin-bottom: 0;
                }
                .phone-support {
                    input {
                        border: 1px solid #ccc;
                        margin: 0;
                        height: 34px;
                        border-radius: 4px;
                        font-weight: 400;
                        padding: 0 15px;
                        &:focus {
                            outline: none;
                        }
                    }
                    button {
                        background: $background;
                        border: none;
                        padding: 7px 15px;
                        color: $white-color;
                        text-transform: uppercase;
                        border-radius: 4px;
                        cursor: pointer;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

//section6- slider đối tác
.brand__slider {
    padding-top: 25px;
    background: $white-color;
    .heading-title {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        color: #56422e;
        font-weight: 600;
        b {
            display: block;
            flex: 1;
            height: 1px;
            background-color: currentColor;
        }
        span {
            margin: 0 15px;
        }
    }
    .title-bt {
        color: #56422e;
        font-style: italic;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }
    .brand__partner {
        .partner__slider-list {
            .partner__slider-item {
                a {
                    padding: 15px 20px;
                    display: block;
                    background-color: rgba(0, 0, 0, 0.9);
                    img {
                        border: 1px solid $white-color;
                        padding: 2px;
                        @include transition;
                        overflow: hidden;
                        &:hover {
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
}
//footer
#footer {
    line-height: 1.5;
    margin-top: 30px;

    .footer-title {
        h2 {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .footer-content {
        ul {
            li {
                margin-bottom: 4px;
                a {
                    color: $grey;
                    font-size: 14px;
                    &:hover {
                        color: $black-color;
                    }
                }
            }
        }
    }
    .support {
        .footer-content {
            p {
                strong {
                    font-size: 14px;
                    a {
                        color: $grey;
                    }
                }
                font-size: 14px;
                a {
                    color: $grey;
                }
            }
        }
    }
    .payment {
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            .figure {
                img {
                    padding: 0 5px;
                }
            }
        }
    }
    .social {
        .footer-content {
        }
    }
    .footer-bottom {
        .footer-content {
            p {
                strong {
                    font-size: 14px;
                    a {
                        color: #ff0000;
                    }
                }

                font-size: 14px;
            }
            em {
                strong {
                    color: #ff0000;
                }
            }
        }
    }
    .coppy__right {
        background: $white-color;
        padding-top: 25px;
        display: block;
        align-self: center;
        .coppy__right-content {
            p {
                font-size: 14px;
                margin-bottom: 0;
                a {
                    color: $grey;
                }
            }
        }
    }
}
.footer-social {
    margin-bottom: 20px;
    a {
        i {
            width: 32px;
            height: 32px;
            color: #fff;
            line-height: 32px;
            text-align: center;
            border-radius: 50%;
        }
    }
    a:first-child {
        i {
            background: #3a589d;
        }
    }
    a:nth-child(2) {
        i {
            background: #0083ca;
        }
    }
    a:nth-child(3) {
        i {
            background: #51cb5a;
        }
    }
    a:nth-child(4) {
        i {
            background: #cb2320;
        }
    }
    a:nth-child(5) {
        i {
            background: #0072b7;
        }
    }
    a:nth-child(6) {
        i {
            background: #c33223;
        }
    }
}
.support-fix {
    position: fixed;
    left: 10px;
    bottom: 70px;
    z-index: 9999;
    ul {
        list-style: none;
        margin-bottom: 0;
        li {
            display: block;
            margin-bottom: 8px !important;
            position: relative;
            a {
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: inline-flex;
                align-items: center;
                border: none;
                font-size: 18px;
                left: 12px;
                color: #fff;
                text-align: center;
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                img {
                    width: 26px;
                    height: auto;
                    margin: 0 auto;
                    line-height: 50px;
                }
            }
            span {
                position: absolute;
                top: 50%;
                font-size: 16px;
                transform: translateY(-50%);
                left: 120%;
                background: #fff;
                display: inline-block;
                padding: 2px 10px;
                line-height: 25px;
                border-radius: 5px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
            }
            &:hover span {
                opacity: 1;
                visibility: visible;
                @include transition;
            }
        }
    }
}
.support-fix.support-fix-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    padding: 5px 0 2px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            width: 25%;
        }
    }
}
//Modal
.modal {
    .modal-content {
        height: 170px;
        .modal-header {
            padding: 0 8px 0 0;
            button:focus {
                outline: none;
            }
        }
        .modal-body {
            p {
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            a {
                font-size: 30px;
                color: #fb0000;
            }
        }
    }
}
//menu mobile
.menu-mb.open {
    left: 0;
}
.bar-mb {
    display: none;
}
.fixed-top {
    display: none;
}
.menu-mb {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 999;
    position: fixed;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    .overlay {
        opacity: 1;
        visibility: visible;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu-wrapper {
        width: 100%;
        background: #fff;
        height: auto;
        border: none;
        z-index: 100;
        left: 0;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        margin: 0;
        top: 50px;
        .menu-mb-body {
            max-height: 100%;
            padding: 8px;
            overflow: auto;
            ul {
                list-style: none;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                li {
                    border: 1px solid #ddd;
                    background: #f7f7f7;
                    border-radius: 5px;
                    padding: 6px;
                    text-align: center;
                    height: 82px;

                    span {
                        font-size: 12px;
                        line-height: 1.2;
                        display: block;
                        padding-left: 0 !important;
                        height: 29px;
                        overflow: hidden;
                        color: $grey;
                        padding-top: 5px;
                    }
                }
            }
            .bottom_option {
                margin: 15px 0 10px;
                color: red;
                span {
                    a {
                        color: red;
                        font-size: 16px;
                    }
                }
            }
        }
        .close-btn {
            width: 60px;
            height: 50px;
            line-height: 70px;
            position: absolute;
            right: 0;
            top: -50px;
            cursor: pointer;
            text-transform: uppercase;
            background: #fff;
            text-align: center;
            i {
                font-size: 30px;
            }
        }
    }
}
//back top top
#back-to-top {
    display: inline-block;
    background: $background;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: $white-color;
    font-size: 18px;
    span {
        position: absolute;
        top: 5px;
        right: 11px;
    }
}

#back-to-top:hover {
    cursor: pointer;
    background-color: #333;
}
#back-to-top:active {
    background-color: #555;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.product__home-item {
    position: relative;
    img {
        width: 100%;
        height: 180px;
        display: block;
        margin: 15px auto;
        transition: all 0.3s;
        object-fit: cover;
        padding: 0 10px;
        &:hover {
            transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transition: 0.3s;
            -moz-transform: 0.3s;
            -o-transform: 0.3s;
            -webkit-transform: 0.3s;
            -ms-transform: 0.3s;
        }
    }
    h3 {
        font-size: 14px;
        padding: 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        margin: 0;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.3;
        height: 36px;
        color: $grey;
        &:hover {
            color: $black-color;
        }
    }
    .price {
        padding: 5px 10px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #fb0000;
        display: block;
        span {
            display: block;
        }
    }
    .tag-hot {
        display: inline-block;
        position: absolute;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: -20px;
        left: 5px;
        color: $white-color;
    }
}
.menu-item-has-children.current {
    a {
        background: #f5f5f5;
        span {
            background: #f5f5f5;
            color: #333;
        }
    }
}
.list_products {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    .sortby {
        .sortby-title {
            font-size: 13px;
            color: $black-color;
            font-weight: 600;
        }
        form {
            span {
                font-size: 14px;
                color: $grey;
            }
            button {
                padding: 7px 10px;
                border: 1px solid #666;
                border-radius: 4px;
                color: $grey;
                margin: 0 5px;
                font-size: 13px;
                display: inline-block;
                cursor: pointer;
            }
            button.check {
                background: $background;
                color: $white-color;
            }
        }
    }
}
.breadcrumbs {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    p {
        color: $grey;
        text-transform: uppercase;

        a {
            color: $grey;
        }
    }
}
/* Chi tiết tin tức */
.box__news {
    &-title {
        font-size: 22px;
        font-weight: 700;
        color: #56422e;
        padding-left: 10px;
        border-left: 5px solid #1a9d48;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    &-content {
        padding-top: 20px;
        &-detail {
            .header-news {
                margin-bottom: 15px;
                strong {
                    font-size: 14px;
                }
            }
            .img-news {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .content-detail{
                p{
                    font-size: 14px;
                    color: #333333;
                    line-height: 1.5;
                }
            }
        }
        
    }
    .comment-BE{
        img{
            width: 100%;
        }
    }
 
}
